{
  "discord":{
    "name":"<BOT_NAME>",
    "token":"<BOT_TOKEN>"
  },
  "radarr":{
    "url":"<RADARR_URL>",
    "token":"<RADARR_API_TOKEN>",
    "path":"</path/to/plex/movies>"
  },
  "sonarr":{
    "url":"<SONARR_URL>",
    "token":"<SONARR_API_TOKEN>",
    "path":"</path/to/plex/TV>"
  },
  "omdb":{
        "token":"<OMDB_API_TOKEN>"
  },
  "system":{
        "log":"</path/to/log/directory>"
  }
}
