{
  "discord":{
    "name":"<BOT_NAME>",
    "token":"<BOT_TOKEN>"
  },
  "radarr":{
    "url":"<RADARR_URL>",
    "token":"<RADARR_API_TOKEN>"
    "path":"</path/to/plex/movies>"
  },
  "omdb":{
        "token":"<OMDB_API_TOKEN>"
  }
}
